.navbar-toggler[b-hzbq641dn9] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-hzbq641dn9] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4) !important;
}

.navbar-brand[b-hzbq641dn9] {
    font-size: 1.1rem;
}

/* ГЛАВНОЕ: Убираем градиент и ставим стекло */
.nav-scrollable[b-hzbq641dn9] {
    background-image: none !important; /* Удаляет фиолетовый */
    background-color: rgba(13, 27, 42, 0.4) !important;
    backdrop-filter: blur(15px) !important;
    -webkit-backdrop-filter: blur(15px);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-item[b-hzbq641dn9]  a {
    color: #d7d7d7 !important;
    border-radius: 8px;
    margin: 4px 10px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.05);
}

    .nav-item[b-hzbq641dn9]  a.active {
        background-color: rgba(0, 210, 255, 0.3) !important;
        color: white !important;
        border: 1px solid rgba(0, 210, 255, 0.5) !important;
    }

    .nav-item[b-hzbq641dn9]  a:hover {
        background-color: rgba(255, 255, 255, 0.1) !important;
    }
